In [68]:
import pandas as pd

In [69]:
df = pd.read_csv('world population.csv')

In [70]:
#df = df.sample(frac=0.2)

In [71]:
df.head(5)

,Rank,Country(or dependency),Population(2020),Yearly_Change,Net_Change,Density(P/Km²),Land_Area(Km²),Migrants(net),Fertility_Rate,Median_Age,Urban _Pop %,World_Share,Continent
0,1,China,"1,439,323,776",0.39 %,"5,540,090",153,"9,388,211","-348,399",1.7,38,61 %,18.47 %,Asia
1,2,India,"1,380,004,385",0.99 %,"13,586,631",464,"2,973,190","-532,687",2.2,28,35 %,17.70 %,Asia
2,3,United States,"331,002,651",0.59 %,"1,937,734",36,"9,147,420","954,806",1.8,38,83 %,4.25 %,North America
3,4,Indonesia,"273,523,615",1.07 %,"2,898,047",151,"1,811,570","-98,955",2.3,30,56 %,3.51 %,Asia
4,5,Pakistan,"220,892,340",2.00 %,"4,327,022",287,"770,880","-233,379",3.6,23,35 %,2.83 %,Asia

#### Now remove % and change cols data type

In [72]:
df['Yearly_Change'] = list(map(lambda x: x[:-1], df['Yearly_Change'].values))
df['World_Share'] = list(map(lambda x: x[:-1], df['World_Share'].values))

In [73]:
df['Yearly_Change'] = [float(x) for x in df['Yearly_Change'].values]
df['World_Share'] = [float(x) for x in df['World_Share'].values]

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Rank                    234 non-null    int64
 1   Country(or dependency)  234 non-null    object
 2   Population(2020)        234 non-null    object
 3   Yearly_Change           234 non-null    float64
 4   Net_Change              234 non-null    object
 5   Density(P/Km²)          234 non-null    object
 6   Land_Area(Km²)          234 non-null    object
 7   Migrants(net)           200 non-null    object
 8   Fertility_Rate          234 non-null    object
 9   Median_Age              234 non-null    object
 10  Urban _Pop %            234 non-null    object
 11  World_Share             234 non-null    float64
 12  Continent               234 non-null    object
dtypes: float64(2), int64(1), object(10)
memory usage: 23.9+ KB

#### How to add percentage

In [76]:
df['Yearly_Change'] =  df['Yearly_Change'].map("{:,.2f}%".format)
df.head()

,Rank,Country(or dependency),Population(2020),Yearly_Change,Net_Change,Density(P/Km²),Land_Area(Km²),Migrants(net),Fertility_Rate,Median_Age,Urban _Pop %,World_Share,Continent
0,1.0,China,"1,439,323,776",0.39%,"5,540,090",153,"9,388,211","-348,399",1.7,38,61 %,18.47,Asia
1,2.0,India,"1,380,004,385",0.99%,"13,586,631",464,"2,973,190","-532,687",2.2,28,35 %,17.70,Asia
2,3.0,United States,"331,002,651",0.59%,"1,937,734",36,"9,147,420","954,806",1.8,38,83 %,4.25,North America
3,4.0,Indonesia,"273,523,615",1.07%,"2,898,047",151,"1,811,570","-98,955",2.3,30,56 %,3.51,Asia
4,5.0,Pakistan,"220,892,340",2.00%,"4,327,022",287,"770,880","-233,379",3.6,23,35 %,2.83,Asia