In [42]:
import pandas as pd
import regex as re

##### This lesson learning from Giorgos Myrianthous's Blog (Towards Data Science)

In [43]:
df = pd.DataFrame({'names':['Shakil', 'Almirr', 'Chamiya', 'Erin', 'Zainab', 'Zakir'],
                  'rank':[1,2,3,4,6,5],
                  'age':[25,25,22,24,26,27],
                  'info':['Data Nerd!?.', 'Invisible @Superhero', 'my sassy girl~',
                         'my foreign..', 'Nope?', 'Friend.']})

### First Method

In [15]:
df['info'] = df['info'].str.replace(r'[^\w\s]+', '')

C:\Users\Shakil\AppData\Local\Temp\ipykernel_6856\92072093.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['info'] = df['info'].str.replace(r'[^\w\s]+', '')

In [30]:
df['info'] = [re.sub('[^\w\s]+', '', s) for s in df['info']]
# df['info'] = [re.sub('[^\w\s]+', '', s) for s in df['info'].to_list()]

In [31]:
df

     names  rank  age                 info
0   Shakil     1   25            Data Nerd
1   Almirr     2   25  Invisible Superhero
2  Chamiya     3   22        my sassy girl
3     Erin     4   24           my foreign
4   Zainab     6   26                 Nope
5    Zakir     5   27               Friend

### Second Method

In [32]:
# Note also that it may sometimes be more efficient to 
# first compile the regular expression prior to the substitution.

In [44]:
r = re.compile(r'[^\w\s]+')
df['info'] = [r.sub('', s) for s in df['info'].tolist()]

In [45]:
df

     names  rank  age                 info
0   Shakil     1   25            Data Nerd
1   Almirr     2   25  Invisible Superhero
2  Chamiya     3   22        my sassy girl
3     Erin     4   24           my foreign
4   Zainab     6   26                 Nope
5    Zakir     5   27               Friend

### Third Method

In [38]:
sep = '|'
punctuation_chars = '!"#$%&\'()*+,-./:;<=>?@[\\]^_`{}~'

In [39]:
mapping_table = str.maketrans(dict.fromkeys(punctuation_chars,''))

In [40]:
df['info'] = sep.join(df['info'].tolist()).translate(mapping_table).split(sep)

In [41]:
df

     names  rank  age                 info
0   Shakil     1   25            Data Nerd
1   Almirr     2   25  Invisible Superhero
2  Chamiya     3   22        my sassy girl
3     Erin     4   24           my foreign
4   Zainab     6   26                 Nope
5    Zakir     5   27               Friend