<a href="https://colab.research.google.com/github/ShakilM26/Pandas/blob/main/data-cleaning-practice/text_clining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame({"varsity": ["NSU","NSU","AIUB","AIUB","NSU",np.nan,np.nan,"Ahsanullah", "Ahsanullah", "NSU", np.nan],
                   "player": ["Mou","Shakil","Awdrita","Mintu","Farhana","Hadid","Jenny", "Emi", "Zainab", "Esha", "Nuha"],
                   "score": [81, 84, np.nan, 91, np.nan, 86, 94, 89, 70, 80, 86]})

df

       varsity   player  score
0          NSU      Mou   81.0
1          NSU   Shakil   84.0
2         AIUB  Awdrita    NaN
3         AIUB    Mintu   91.0
4          NSU  Farhana    NaN
5          NaN    Hadid   86.0
6          NaN    Jenny   94.0
7   Ahsanullah      Emi   89.0
8   Ahsanullah   Zainab   70.0
9          NSU     Esha   80.0
10         NaN     Nuha   86.0

In [ ]:
df['varsity'].value_counts()
# There are some problem. Output doesn't show the nan values. 
# If we want to see the nan values then we have to use dropna parameter.

NSU           4
AIUB          2
Ahsanullah    2
Name: varsity, dtype: int64

In [ ]:
df['varsity'].value_counts(dropna=False)

NSU           4
NaN           3
AIUB          2
Ahsanullah    2
Name: varsity, dtype: int64

In [ ]:
# Sometimes we have to fill our nan value using others col value. 

df['varsity'].fillna(df['player'], inplace=True)
df

# df.loc[df["varsity"].isna()==True, "varsity"] = df["player"], also use this

       varsity   player  score
0          NSU      Mou   81.0
1          NSU   Shakil   84.0
2         AIUB  Awdrita    NaN
3         AIUB    Mintu   91.0
4          NSU  Farhana    NaN
5        Hadid    Hadid   86.0
6        Jenny    Jenny   94.0
7   Ahsanullah      Emi   89.0
8   Ahsanullah   Zainab   70.0
9          NSU     Esha   80.0
10        Nuha     Nuha   86.0

In [ ]:
# Using Python dictionaries 

items = {'Mou':'NSU', 'Shakil':'Harvard', 'Awdrita':'Brack', 'Mintu':'MIT', 'Farhana':'Toronto', 'Hadid':'BUP', 'Jenny':'Ahsanullah',
         'Emi':'Harvard','Zainab':'Toronto', 'Esha':'Harvard', 'Nuha':'Toronto'}

In [ ]:
df['varsity'] = df['varsity'].replace(items)
df

# df["varsity"] = df["varsity"].replace("Nuha","Toronto")

       varsity   player  score
0          NSU      Mou   81.0
1          NSU   Shakil   84.0
2         AIUB  Awdrita    NaN
3         AIUB    Mintu   91.0
4          NSU  Farhana    NaN
5   Ahsanullah    Hadid   86.0
6   Ahsanullah    Jenny   94.0
7   Ahsanullah      Emi   89.0
8   Ahsanullah   Zainab   70.0
9          NSU     Esha   80.0
10     Toronto     Nuha   86.0

In [ ]:
# The default data type for integers does not support null values so the data
# type is upcasted to float. If it is important for you to represent these values
# as integers, you can use the nullable integer data type.

In [ ]:
df["score"] = df["score"].astype(pd.Int64Dtype())
df

       varsity   player  score
0          NSU      Mou     81
1          NSU   Shakil     84
2         AIUB  Awdrita   <NA>
3         AIUB    Mintu     91
4          NSU  Farhana   <NA>
5   Ahsanullah    Hadid     86
6   Ahsanullah    Jenny     94
7   Ahsanullah      Emi     89
8   Ahsanullah   Zainab     70
9          NSU     Esha     80
10     Toronto     Nuha     86

In [2]:
# Normalize the case of words 
# Machine doesn't understand different cases so that we have to make it same case.

text = "I am Daenerys Stormborn of House Targaryen, of the blood of Old Valyeria. I am the dragon's daughter, and I swear to you that those who would harm you will die screaming."

text=text.lower()
text

"i am daenerys stormborn of house targaryen, of the blood of old valyeria. i am the dragon's daughter, and i swear to you that those who would harm you will die screaming."