<a href="https://colab.research.google.com/github/ShakilM26/Pandas/blob/main/apply%2Cagg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [7]:
df = pd.read_csv('student performance.csv')
fr = pd.read_csv('frnd.csv')

In [6]:
df[['writing score', 'reading score']].apply(['max', 'min'])

     writing score  reading score
max            100            100
min             10             17

In [8]:
# Multiple aggregations

fr['salary'].apply(['mean', 'median'])

mean      65028.571429
median    62000.000000
Name: salary, dtype: float64

In [10]:
df[['reading score', 'writing score']].apply(['mean', 'median'])

        reading score  writing score
mean           69.169         68.054
median         70.000         69.000

In [12]:
df[['reading score', 'writing score']].apply({'reading score':"mean", 'writing score':"median"})

reading score    69.169
writing score    69.000
dtype: float64

In [13]:
# Another way for calculating multiple aggregations at once is the agg function.
df[['reading score', 'writing score']].agg(['mean','median'])

        reading score  writing score
mean           69.169         68.054
median         70.000         69.000

In [15]:
# agg function also allows for assigning customized names to the aggregated columns.

df[['reading score', 'writing score']].agg(reading_mean = ('reading score', 'mean'),
                                             writing_median = ('writing score', 'median'))

                reading score  writing score
reading_mean           69.169            NaN
writing_median            NaN           69.0