* In python, data can be handles in various ways. Mainly through the two libraries, Pandas and Numpy. 
* Operate data using pandas and numpy

### Numpy

In [1]:
# The most important object defined in NumPy is an N-dimensional array type called ndarray. It describes the collection of items 
# of the same type. Using zero-based index items can be accessed.

In [1]:
import numpy as np

a = np.array([[1,2], [3,4]])
a

array([[1, 2],
       [3, 4]])

In [2]:
# type dimension

a = np.array([1,5,9,3,5,7], ndmin=2)
a

array([[1, 5, 9, 3, 5, 7]])

In [3]:
# Pandas

In [4]:
# series is a one-dimensional labeled array capable of holding data of any type (int,str,float,obj etc).

In [5]:
import pandas as pd

In [6]:
data = np.array(['a','b','c','d'])
series = pd.Series(data)
series

0    a
1    b
2    c
3    d
dtype: object

In [8]:
# Dataframe is a 2-dimensional data structure.

data = {'names':['elon','steve','bill','mark','jack'],
       'salary':[100000,85000,88000,90000,75000]}
dataframe = pd.DataFrame(data, index=['A','B','C','D','E'])
dataframe

   names  salary
A   elon  100000
B  steve   85000
C   bill   88000
D   mark   90000
E   jack   75000